<nav>

  <div class="nav-wrapper">
    <a href="#/guide" class="center brand-logo">PACINO</a> 
    <ul class="center">
      <li><a href="#/search">Find New Movies</a></li>
      <li><a href="#/list">Your Movies</a></li>
    </ul>
    <ul class="right">
    <!-- <li><a href="#/"><span ng-include="'partials/search.html'"></span></a></li> -->
      <li><a href="#/" ng-if="isAuthenticated()" ng-click="logout()">Logout</a></li>
      <li><a href="#/login" ng-show="!isAuthenticated()">Login</a></li>
      <!-- <li><a href="#/register" ng-show="!isAuthenticated()">Register</a></li> -->
    </ul>
  </div>

</nav>